version: "3"

networks:
  internalnet:
    driver: bridge
    ipam:
      config:
        - subnet: 170.20.0.0/24
          gateway: 170.20.0.1

services:
  mysqldb:
    image: mysql:8.0
    container_name: mysqlcontainer
    command: --default-authentication-plugin=mysql_native_password
    restart: no
    volumes:
      - $HOME/dbinit/init.sql:/docker-entrypoint-initdb.d/0_init.sql
      - $HOME/database:/var/lib/mysql
    ports:
      - "3306":"3306"
    expose:
      - "3306"
    environment:
      MYSQL_DATABASE: tweetdb
      MYSQL_USER: admin
      MYSQL_PASSWORD: abc
      MYSQL_ROOT_PASSWORD: abc
      SERVICE_TAGS: prod
      SERVICE_NAME: mysqldb
    networks:
      internalnet:
        ipv4_address: 170.20.0.2

  backend:
    container_name: backendcontainer
    image: niteshraj/twitsybe:latest
    restart: no
    ports:
      - "5000":"5000"
    expose:
      - "5000"
    environment:
      DB_HOST: mysqldb
      DB_PORT: 3306
      DB_USER: admin
      DB_PASSWORD: abc
      DB_NAME: tweetdb
      DB_CONNECTION_LIMIT: 10
      SERVICE_TAGS: prod
      SERVICE_NAME: backend
      SERVER_PORT: 5000
    depends_on:
      - mysqldb
    networks:
      internalnet:
        ipv4_address: 170.20.0.3

  frontend:
    container_name: frontendcontainer
    image: niteshraj/twitsyfe:latest
    restart: no
    ports:
      - "3000":"3000"
    expose:
      - "3000"
    environment:
      HOST_NAME: "170.20.0.3"
      SERVICE_TAGS: prod
      SERVICE_NAME: frontend
      SERVER_PORT: 3000
    depends_on:
      - mysqldb
      - backend
    networks:
      internalnet:
        ipv4_address: 170.20.0.4

